@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    background-color: aqua;
}

ul {
    list-style-type: square;
    padding: 0;
    margin: 20px auto;
    width: 50%;
    background-color: beige;
}

h2 {
    color: #555;
    text-align: center;
    margin-top: 10px;
}

h3 {
    color: #777;
    text-align: center;
    margin-top: 10px;
}

header{

padding: 10px;
border: 20px solid red;
background-color: rgb(170, 20, 103);
color: white;
margin: 20px;
color: yellowgreen;

}